{% extends "TopItems::PageDesign" %}

    {% block PageBody %}
        <h1 style="text-align: center">{{ resultCount }} top items found!</h1>
        <div class="col-xs-12 card-deck-wrapper" style="overflow: auto">
            <ul class="list-unstyled card-deck" style="height: 380px">
                {% if currentItems is not null %}
                    {% for item in currentItems %}
                        <li class="card" style="width: 280px">
                            <div class="card-block">
                                <h4 class="card-title">{{ item.itemDescription.name1 }}</h4>
                                <h6 class="card-subtitle text-muted">ID: {{ item.variationBase.id }}</h6>
                            </div>
                            {% set image = item.variationImageList | first %}
                            <img class="col-lg-12" src="{{ image.path }}" alt="{{ image.cleanImageName }}">
                            <div class="card-block">
                                <p class="card-text">{{ item.itemDescription.description }}</p>
                            </div>
                            <div class="card-footer bg-primary">
                                <h4 style="text-align: center">Price: {{ item.variationRetailPrice.price }} €</h4>
                            </div>
                        </li>
                    {% endfor %}

                {% else %}
                    <li>No items found!</li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}